@media screen and (max-width: 650px)
	main#Team
		padding: 20px

@media screen and (max-width: 525px)
	.TeamCard
		text-align: center
		grid-template-columns: 1fr
		grid-template-rows: auto 1fr

		padding-bottom: 1em
		border-bottom: dotted black 2px

		& .BlurryPhoto
			margin: 0 auto

		