$backdrop-red: #f8332196
$content-bg: #fff
$logo-bg: #475a3e
$carousel-delay: 500
$logo-and-welcome-width: 20%

@mixin border($color)
	border: $color solid 2px
	box-sizing: border-box

.location-bar
	display: flex
	align-self: center
	align-items: center
	margin-top: 10px

	background-color: $content-bg
	text-transform: uppercase
	font-weight: bold
	color: #807777

	padding: 1rem
	padding-left: 2rem
	padding-right: 2rem

	border-radius: 100vmax

	& > a
		margin-left: 1rem
		display: flex

.important-left-items
	width: $logo-and-welcome-width
	padding: 1rem

.landing-content-spacing
	margin-left: 2rem
	margin-right: 2rem

.landing-header
	top: 10px // for position: sticky

	display: flex
	flex-direction: row
	position: sticky

	background-color: $content-bg
	border: solid $logo-bg 3px

	margin-top: 1rem

	z-index: 50

	box-sizing: border-box

.header-logo
	background-color: $logo-bg

	text-transform: uppercase
	text-align: center
	font-size: 200%
	font-weight: bold
	letter-spacing: 10px

	color: $content-bg

#header-items
	flex-grow: 1
	display: flex
	flex-direction: row-reverse

	padding: 1rem

	& > *
		margin-left: .5rem
		margin-right: .5rem

.image-carousel
	margin-top: 1rem
	height: 100%
	margin-bottom: 1rem
	background-color: $content-bg
	box-sizing: border-box
	position: relative

.image-carousel-img
	height: 100%
	width: 100%

	background-position: center top
	background-size: 100% auto

	box-shadow: inset 0px -20px 15px #5042428a

.image-carousel-blurb
	position: absolute
	font-size: 120%

	z-index: 3
	left: 0
	bottom: 0

	background-color: $content-bg
	box-shadow: inset -5px 5px 10px #937e7e63

@keyframes fade-out
	0%
		opacity: 1
	100%
		opacity: 0

.fade-out
	animation: fade-out #{$carousel-delay}ms forwards

@keyframes fade-in
	0%
		opacity: 0
	100%
		opacity: 1

.fade-in
	animation: fade-in #{$carousel-delay}ms forwards

@keyframes jiggle
	33%
		transform: translateY(-10px)
	66%
		transform: translateY(10px)
	100%
		transform: translateY(0px)

.jiggle-header
	animation: jiggle .5s forwards
		

.carousel-dot
	color: $content-bg
	font-size: 48pt
	transition: opacity .5s
	opacity: .5

	&[data-on]
		opacity: 1

// .carousel-dot[data-on]
// 	opacity: 1

.carousel-dots
	position: absolute
	display: flex
	flex-direction: row
	margin: auto

	user-select: none

	bottom: 0
	left: 50%
	right: 50%
	z-index: 3
	justify-self: center

main.landing
	display: flex
	flex-direction: column

	min-height: 100%

	background-color: #f7f2e6
	background-image: linear-gradient(135deg, $backdrop-red 25%, transparent 25%), linear-gradient(225deg, $backdrop-red 25%, transparent 25%), linear-gradient(45deg, $backdrop-red 25%, transparent 25%), linear-gradient(315deg, $backdrop-red 25%, #f7f2e6 25%)

	$tile-width: max(2rem, 40px)

	background-position: $tile-width 0, $tile-width 0, 0 0, 0 0
	background-size: $tile-width $tile-width
	background-repeat: repeat

	padding-bottom: 2rem

#transition
	height: 100%

	font-size: 0 // to remove SVG gaps

	display: grid
	grid-template-rows: 2rem 2rem 2rem 1fr

	& > svg
		width: 100%
		height: 100%

	& *:last-child:not(svg)
		height: 100%

.single-cell
	grid-column: 1
	grid-row: 1

#theory-explanation
	background-color: $content-bg
	// box-shadow: inset 0px 5px 10px #5042428a

	width: 50%
	margin-left: auto
	margin-right: auto

	height: max-content
	margin-bottom: 3rem

	border-radius: 0 0 20px 20px

	padding: 2rem
	padding-left: 3rem
	padding-right: 3rem

section#hero
	display: flex
	flex-direction: column

	height: 100vh

section#theory
	position: relative
	display: flex
	flex-direction: column

	background-color: $content-bg
	margin-top: 2rem

:export
	colorMain: $logo-bg
	colorBg: $content-bg
	delay: $carousel-delay

/////////////////////////////////
