@media screen and (max-width: 800px)
	main#Contact
		text-align: center
		
	#Contact__parent-callout
		margin: .7rem 0

	#EmailButton__text-short
		display: inline

	#EmailButton__text-long
		display: none

