body,
html,
#root {
	height: 100%;
}

html {
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}

body {
	margin: 0;
}

a {
	color: unset;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

/* CSS reset for div */
div {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}